<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>642109055015-4icuhs4tvlikh1j0t81nqkfv8upt1ruo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.642109055015-4icuhs4tvlikh1j0t81nqkfv8upt1ruo</string>
	<key>API_KEY</key>
	<string>AIzaSyByx4fqzgYk7kp8RI_hSfen8HuFFA3GjBk</string>
	<key>GCM_SENDER_ID</key>
	<string>642109055015</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.GoogleDrive</string>
	<key>PROJECT_ID</key>
	<string>named-defender-225105</string>
	<key>STORAGE_BUCKET</key>
	<string>named-defender-225105.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:642109055015:ios:24d7430da461acaa</string>
	<key>DATABASE_URL</key>
	<string>https://named-defender-225105.firebaseio.com</string>
</dict>
</plist>